In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('D:/Aminurachma Aisyah Nilatika/STIMATA/Semester 6/Data Mining/UAS/datamining/Uas/dataset_soal No.1.csv', delimiter=';')

In [3]:
data.head()

      Age  Income Student Credit_rating Class (buy_computer)
0   <= 30    High      No          Fair                   No
1   <= 30    High      No     Excellent                   No
2  31..40    High      No          Fair                  Yes
3    > 40  Medium      No          Fair                  Yes
4    > 40     Low     Yes          Fair                  Yes

In [4]:
data.shape

(51, 5)

In [5]:
data['Class (buy_computer)'].value_counts()

Yes    29
No     22
Name: Class (buy_computer), dtype: int64

In [6]:
PYes = 29/51
PNo = 22/51

In [7]:
print(PYes)

0.5686274509803921

In [8]:
print(PNo)

0.43137254901960786

In [9]:
pd.crosstab(data['Student'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Student
No                    10   14
Yes                   12   15

In [10]:
PNoStudentNo = 10/22
PYesStudentNo = 12/22

PNoStudentYes = 14/29
PYesStudentYes = 15/29

PNoStudent = 24/51
PYesStudent = 27/51

In [11]:
pd.crosstab(data['Credit_rating'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Credit_rating
Excellent              8   12
Fair                  14   17

In [12]:
PExcellentNo = 8/22
PFairNo = 14/22

PExcelentYes = 12/29
PFairYes = 17/29

PExcelent = 20/51
PFair = 31/51

In [13]:
pd.crosstab(data['Age'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Age
31..40                 4   10
<= 30                 10   10
> 40                   8    9

In [14]:
P31_40No = 4/14
PKur30No = 10/20
PLeb40No = 8/17

P31_40Yes = 10/14
PKur30Yes = 10/20
PLeb40Yes= 9/17

P31_40 = 14/51
PKur30 = 20/51
PLeb40 = 17/51

In [15]:
pd.crosstab(data['Income'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Income
High                   6    5
Low                   11   10
Medium                 5   14

In [16]:
PHighNo = 6/11
PLowNo = 11/21
PMediumNo = 5/19

PHighYes = 5/11
PLowNo = 10/21
PMediumNo = 14/19

PHigh = 11/51
PLow = 21/51
PMedium = 19/51

In [17]:
pd.crosstab(data['Student'], data['Income'])

Income   High  Low  Medium
Student
No          9    1      14
Yes         2   20       5

In [18]:
PNoStudentHigh = 9/24
PNoStudentLow = 1/24
PNoStudentMedium = 14/24

PYesStudentHigh = 2/27
PYesStudentLow = 20/27
PYesStudentMedium = 5/27

PNoStudent = 24/51
PYesStudent = 27/51

In [19]:
pd.crosstab(data['Age'], data['Income'])

Income  High  Low  Medium
Age
31..40     5    5       4
<= 30      6    6       8
> 40       0   10       7

In [20]:
P31_40High = 5/14
P31_40Low = 5/14
P31_40Medium = 4/14

PKur30High = 6/20
PKur30Low = 6/20
PKur30Medium = 8/20

PLeb40High = 0/17
PLeb40Low = 10/17
PLeb40Medium = 7/17

P31_40 = 14/51
PKur30 = 20/51
PLeb40 = 17/51

In [21]:
pd.crosstab(data['Credit_rating'], data['Income'])

Income         High  Low  Medium
Credit_rating
Excellent         5    8       7
Fair              6   13      12

In [22]:
PExcellentHigh = 5/20
PExcellentLow = 8/20
PExcellentMedium = 7/20

PFairHigh = 6/31
PFairLow = 13/31
PFairMedium = 12/31

PExcelent = 20/51
PFair = 31/51

In [23]:
pd.crosstab(data['Student'], data['Credit_rating'])

Credit_rating  Excellent  Fair
Student
No                     8    16
Yes                   12    15

In [24]:
PNoStudentExcellent = 8/24
PNoStudentFair = 16/24

PYesStudentExcellent = 12/27
PYesStudentFair = 15/27

PNoStudent = 24/51
PYesStudent = 27/51

In [34]:
print("PNoStudentNo= ",PNoStudentNo)
print("PYesStudentNo= ",PYesStudentNo)

print("PNoStudentYes= ",PNoStudentYes)
print("PYesStudentYes= ",PYesStudentYes)

print("PNoStudent= ",PNoStudent)
print("PYesStudent= ",PYesStudent)

print("PExcellentNo= ",PExcellentNo)
print("PFairNo= ",PFairNo)

print("PExcelentYes= ",PExcelentYes)
print("PFairYes= ",PFairYes)

print("PExcelent= ",PExcelent)
print("PFair= ",PFair)

print("P31_40No= ",P31_40No)
print("PKur30No= ",PKur30No)
print("PLeb40No= ",PLeb40No)

print("P31_40Yes= ",P31_40Yes)
print("PKur30Yes= ",PKur30Yes)
print("PLeb40Yes= ",PLeb40Yes)

print("P31_40= ",P31_40)
print("PKur30= ",PKur30)
print("PLeb40= ",PLeb40)

print("PExcellentHigh= ",PExcellentHigh)
print("PExcellentLow= ",PExcellentLow)
print("PExcellentMedium= ",PExcellentMedium)

print("PFairHigh= ",PFairHigh)
print("PFairLow= ",PFairLow)
print("PFairMedium= ",PFairMedium)

print("PNoStudentExcellent= ",PNoStudentExcellent)
print("PNoStudentFair= ",PNoStudentFair)

print("PYesStudentExcellent= ",PYesStudentExcellent)
print("PYesStudentFair= ",PYesStudentFair)

PNoStudentNo=  0.45454545454545453
PYesStudentNo=  0.5454545454545454
PNoStudentYes=  0.4827586206896552
PYesStudentYes=  0.5172413793103449
PNoStudent=  0.47058823529411764
PYesStudent=  0.5294117647058824
PExcellentNo=  0.36363636363636365
PFairNo=  0.6363636363636364
PExcelentYes=  0.41379310344827586
PFairYes=  0.5862068965517241
PExcelent=  0.39215686274509803
PFair=  0.6078431372549019
P31_40No=  0.2857142857142857
PKur30No=  0.5
PLeb40No=  0.47058823529411764
P31_40Yes=  0.7142857142857143
PKur30Yes=  0.5
PLeb40Yes=  0.5294117647058824
P31_40=  0.27450980392156865
PKur30=  0.39215686274509803
PLeb40=  0.3333333333333333
PExcellentHigh=  0.25
PExcellentLow=  0.4
PExcellentMedium=  0.35
PFairHigh=  0.1935483870967742
PFairLow=  0.41935483870967744
PFairMedium=  0.3870967741935484
PNoStudentExcellent=  0.3333333333333333
PNoStudentFair=  0.6666666666666666
PYesStudentExcellent=  0.4444444444444444
PYesStudentFair=  0.5555555555555556

In [38]:
data.describe()

          Age Income Student Credit_rating Class (buy_computer)
count      51     51      51            51                   51
unique      3      3       2             2                    2
top     <= 30    Low     Yes          Fair                  Yes
freq       20     21      27            31                   29