In [36]:
#Tugas No1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [51]:
data = pd.read_excel('D:\dataset\dataset1.xlsx')
data.tail()

       Age  Income Student Credit_rating Class
46    > 40     Low     Yes          Fair   Yes
47    <=30     Low     Yes          Fair   Yes
48  31..40  Medium      No          Fair    No
49  31..40    High     Yes     Excellent   Yes
50    > 40  Medium      No     Excellent    No

In [38]:
data.shape

(51, 5)

In [39]:
data['Class'].value_counts()

Yes    29
No     22
Name: Class, dtype: int64

In [40]:
PYes = 29/51
PNo = 22/51

print (PYes)
print (PNo)

0.5686274509803921
0.43137254901960786

In [41]:
pd.crosstab(data['Age'],data['Class'])

Class   No  Yes
Age
31..40   4   10
<=30    10   10
> 40     8    9

In [42]:
P30anNo = 4/14
PDiBawah30No = 10/20
PDiatas40No = 8/17

P30anYes = 10/14
PDiBawah30Yes = 10/20
PDiAtas40Yes = 9/17

P30an = 14/51
PDiBawah30 = 20/51
PDiAtas40 = 17/51

In [43]:
pd.crosstab(data['Income'],data['Class'])

Class   No  Yes
Income
High     6    5
Low     11   10
Medium   5   14

In [44]:
PHighNo = 6/11
PLowNo = 11/21
PMediumNo = 5/19

PHighYes = 5/11
PLowYes = 10/21
PMediumYes = 14/19

PHigh = 11/51
PLow = 21/51
PMedium = 19/51

In [45]:
pd.crosstab(data['Student'],data['Class'])

Class    No  Yes
Student
No       10   14
Yes      12   15

In [46]:
PNotStudentNo = 10/24
PStudentNo = 12/27

PNotStudentYes = 14/24
PStudentYes = 15/27

PNotStudent = 24/51
PStudent = 27/51

In [47]:
pd.crosstab(data['Credit_rating'],data['Class'])

Class          No  Yes
Credit_rating
Excellent       8   12
Fair           14   17

In [48]:
PExcelentNo = 8/20
PFairNo = 14/31

PExcelentYes = 12/20
PFairYes = 17/31

PExcelent = 20/51
PFair = 31/51

In [49]:
#membuktika pembeli terbanyak bukan dari kalangan student
PYesNotStudent = (PNotStudentYes*PYes)/PNotStudent
PYesStudent = (PStudentYes*PYes)/PStudent

print(PYesNotStudent)
print(PStudent)

0.704861111111111
0.5294117647058824

In [50]:
#degan lebih besarnya nilai probabilitas dari not Student yang melaukakan
#pembelian disimpulkan bahwa mayorits pembli adalah notStudent